<div class="gallery">
  <cdk-virtual-scroll-viewport
    itemSize="66"
    class="gallery-viewport">
    <div class="container">
      <div class="gallery-box">
          <div class="gallery-card-box" *cdkVirtualFor="let image of images">
            <app-card-item
              [cardItem]="image"
              [favoritesIcon]="true"
              (addToFavorites)="selectToFavorites(image)">
            </app-card-item>
          </div>
        </div>
      </div>
  </cdk-virtual-scroll-viewport>
  <div>
    <app-loader [display]="showLoader$ | async"></app-loader>
  </div>
</div>

